/* You can add global styles to this file, and also import other style files */
*{
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
body{
	background: rgb(13,6,123);
	background: linear-gradient(90deg, rgba(13,6,123,1) 14%, rgba(9,9,204,1) 50%, rgba(0,212,255,1) 82%);
}
